<% provide(:title, "Worksets") %>
<div class="tab-content">
  <div class="row container col-md-6 col-md-offset-3 text-center">
    <h1>HathiTrust
      <small>Worksets</small>
    </h1>
  </div>


  <div class="clear"></div>

  <div class="row">
    <div class="container col-md-6 col-md-offset-3">
      <div id="workset" class="result-list">
        <div class="result-list-title right"><%= link_to 'New Workset', "javascript:void(0)", :onclick => "$('#new-workset-partial-id').slideDown();" %></div>
        <div id="new-workset-partial-id" style="display:none">
          <%= render 'worksets/newworkset' %>
        </div>

        <% if @worksets.count == 0 %>
            No worksets have been defined yet.
        <% else %>
            <ul class="document-list">
              <% @worksets.each do |workset| %>
                  <li id="item-<%= workset.id %>" class="document-item">
                    <div class="document-item-checkbox"></div>
                    <div class="document-item-content left">
                      <%= link_to workset.title, workset_path(workset) %>

                      <div class="document-item-details grey">
                        <div class="document-item-page"><%= workset.description %></div>
                      </div>
                    </div>

                    <div class="document-item-action action right">
                      <ul>
                        <li><%= link_to image_tag('img/network/editIcon.png'), edit_workset_path(workset) %></li>
                        <li><%= link_to image_tag('img/network/deleteIcon.png'), workset_path(workset), method: :delete, data: {confirm: 'Are you sure you wan to delete the workset "' + workset.title + '"?'} %></li>
                      </ul>
                    </div>
                  </li>
              <% end %>
            </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
