<div align="center">
<h1>Users</h1>

<%= link_to 'New User', new_user_path %>

<table>
  <tr>
  	 <th>Name</th>
    <th>Email</th>
    <th>Password</th>
	 <th>Worksets</th>
    <th colspan="3"></th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
    	<td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.password %></td>
       <td>
       	<% user.worksets.each do |workset| %>
				<%= workset.id.to_s + "," %>
  			<% end %>
  		</td>			
      <td><%= link_to 'Show', user_path(user) %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Delete', user_path(user), 
	      method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

</div>