<% provide(:title, @concept.name) %>
<link href="/assets/visNetwork.css" rel="stylesheet" type="text/css" />
<link href="/assets/vis.css" rel="stylesheet" type="text/css" />
<script src="/assets/vis.js"></script>
<script src="/assets/visNetwork.js"></script>

<div id="concept" class="container text-center">
	<h1>HathiTrust <small>Explore Synonyms</small></h1>
</div>

<div class="row container col-md-6 col-md-offset-3">
	<div id="view-synonyms" class="result-list">
		<div class="result-list-title">
			<div class="result-list-title-edit action">
				<ul>
	   				<li><a href="#" class="btn btn-action disabled">Graph</a></li>
	   				<li><a href="#" class="btn btn-action">List</a></li>
	   			</ul>
			</div>
			<h2 class="title"><%= @concept.name %></h2>
			<a class="short" href="javascript:void(0)" onclick="$('.long').show(); $('.short').hide();">[+]</a>
			<a class="long" href="javascript:void(0)" onclick="$('.long').hide(); $('.short').show();" style="display: none">[&ndash;]</a>
			<div id="description" class="description grey long" style="display: none">
				<%= @concept.description%>
			</div>
		</div>

	</div>
	
	<div id="synonyms-list" style="display: none"></div>
</div>

<div class="clear"></div>

<div id="synonyms-graph" style="height:70%"></div>

<script>
	$().ready(function() {
		$('.action .btn').click(function() {
			if ($(this).hasClass('disabled')) {
				return false; 
			} else {
				$('.action .btn').removeClass('disabled');
				$(this).addClass('disabled');
	
				$('#synonyms-graph').toggle();
				$('#synonyms-list').toggle();
			}
		});
	});

	function fillGraph(nodes, edges) {
		var container = document.getElementById("synonyms-graph");
		var data = {
			nodes: nodes,
			edges: edges
		};
		var network = new vis.Network(container, data, {});
	}

	function fillList(nodes, edges) {
		var list = $('<ul/>')
			.addClass('orange-square-list')
			.appendTo('#synonyms-list');
			
		var labels = nodes.label;
		for (var index in nodes) {
			var node = nodes[index];
    		list.append('<li>' + node.label + '</li>');
		}
	}

	function render(synonyms) {
		var primaryConcept = {id: <%= @concept.id%>, name: "<%= @concept.name%>", description: "<%= @concept.description%>"};

		var cache = {};
		var nodes = [];
		var edges = [];
		cache[primaryConcept.name] = {id: primaryConcept.name, label: primaryConcept.name, title: primaryConcept.description, shape: 'box'};
	
		for (var index in synonyms) {
			var synonym = synonyms[index];
			var symbol = synonym.symbol;
		
			if (symbol in cache)
				continue;
		
			var node = {id: symbol, label: symbol};
			cache[symbol] = node;
		}
		
		for (var type in cache) {
			var node = cache[type];
			nodes.push(node);
			if (node.id == primaryConcept.name)
				continue;
		
			var edge = {from: node.id, to: primaryConcept.name};
			edges.push(edge);
		}
		
		fillGraph(nodes, edges);
		fillList(nodes, edges);
	}
	
	$().ready(function() {
		var synonymsUrl = encodeURI("/links/synmaps.json?id=<%= @concept.id%>");
		$.ajax({
			url: synonymsUrl, 
			success: function(data) {
					render(data);
				}
			});
	});

</script>